Shelf name:  <%= name %><br />
Books:
<%if (response.books[0].book.length > 0) { %>
	<ul>
		<% for(var i=0, numBooks = response.books[0].book.length; i < numBooks; i++) {%>
   			<li><a href="/bookInfo?bookId=<%= response.books[0].book[i].id[0]._ %>"><%= response.books[0].book[i].title[0] %></a></li>
		<% } %>
	</ul>
<% } %>
All Pages
<% for(var i = 1, numpages = response.books[0].$.numpages; i < numpages; i++) {%>
  <% if (i != response.books[0].$.currentpage) { %>
     <a href="/shelfInfo?shelfName=read&pageNum=<%= i %>"><%= i %></a> &nbsp;
  <% } else { %>
    <%= i %>
  <% } %>
<% } %>
